:root {
  --c-white: #f2f2f2;
  --c-black: #023047;
  --c-blue: #8ECAE6;
  --c-dark-blue: #219EBC;
  --c-yellow: #FFB703;
  --c-orange: #FB8500;

  --c-transparent-green: rgba(125, 153, 0, 0.4);
  --c-transparent-blue: rgba(125, 0, 153, 0.4);

  /* Typefaces */
  --font-indivisible: 'Rubik', Verdana, Geneva, sans-serif;
}

:root {
  --color-background: var(--c-black);
  --color-action: var(--c-dark-blue);
  --color-action-hover: var(--c-blue);
  --color-accent: var(--c-yellow);

  --color-text: var(--c-white);
  --color-text-in-action: var(--c-white);
  --color-background-gradient: var(--c-transparent-green);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--c-white);
    --color-action: var(--c-dark-blue);
    --color-action-hover: var(--c-blue);
    --color-accent: var(--c-orange);

    --color-text: var(--c-black);
    --color-text-in-action: var(--c-black);
    --color-background-gradient: var(--c-transparent-blue);
  }
}
